html {
  background: -webkit-linear-gradient(top, #355C7D, #F8B195) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 0 auto;
}

header {
  color: #F8B195;
  text-align: center;
  font-size: 1.5em;
}

header > a {
  color: white;
}

a {
  font-size: .9em;
  text-decoration: none;
  color: inherit;
  display: inline;
}

time {
  font-size: .6em;
}

section {
  font-size: 1.1em;
  text-align: center;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

select {
    border: 1px solid #fff;
    background-color: transparent;
}

hr {
  margin-top: 1.8em;
}

footer {
  text-align: center;
  color: #355C7D;
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

footer > a {
  font-size: inherit;
}
