div.icon-menu {
  font-size: 2em;
  text-align: right;
}

header > a {
  font-size: 1.5em;
  display: inline-block;
  padding: .3em;
}

.menuNavColor {
  background-color: hsla(17, 88%, 78%, 0.9);
}

.menuNavColor li {
  padding: .7em;
}
.mainNav a {
  font-size: 2em;
}

#filters {
  padding-left: 0;
}
